<div class="container-fluid">
  <div class="row m-4">
    <div class="col-4 offset-2">
      <div *ngIf="cartProductList.length; else elseBlock">
        <div class="row" *ngFor="let product of cartProductList">
          <div class="col-6 p-4">
            <a routerLink="/product/{{ product.id }}">
              <img
                class="img-fluid"
                src="{{ product.url }}"
                alt="product image"
              />
            </a>
          </div>
          <div class="col-6 p-4">
            <div class="p-2">
              <b>{{ product.name }}</b>
              <i
                class="bi bi-trash ps-4 pointer"
                (click)="removeItem(product)"
              ></i>
            </div>

            <div class="p-2">$ {{ product.price }}</div>
            <div class="p-2">
              Amount
              <input
                id="value"
                type="number"
                value="{{ product.items }}"
                class="form-control"
                min="1"
                (change)="updateCartProduct($event, product)"
              />
            </div>
          </div>
        </div>
        <h2>Total : $ {{ totalValueInCart() }}</h2>
      </div>
      <ng-template #elseBlock>
        <h2 class="text-secondary p-4">No items in cart!</h2>
      </ng-template>
    </div>

    <div class="col-4">
      <form #form="ngForm" (ngSubmit)="submitForm($event)">
        <div class="form-group">
          <label class="form-label" for="fullName">Full name</label>
          <input
            class="form-control"
            type="text"
            name="fullName"
            minlength="3"
            required
            placeholder="(minimum 3 characters)"
            [(ngModel)]="name"
            #nameField="ngModel"
            disabled={{!cartProductList.length}}
          />
        </div>
        <div class="text-danger" *ngIf="nameField.errors && nameField.dirty">
          Please provide a valid name
        </div>
        <div class="form-group">
          <label class="form-label" for="address">Address</label>
          <textarea
            class="form-control"
            type="text"
            name="address"
            minlength="6"
            required
            placeholder="(minimum 6 characters)"
            [(ngModel)]="address"
            #addressField="ngModel"
            disabled={{!cartProductList.length}}
          ></textarea>
          <div
            class="text-danger"
            *ngIf="addressField.errors && addressField.dirty"
          >
            Please provide a valid address
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="creditcard">Credit card number</label>
          <input
            class="form-control"
            name="creditcard"
            type="text"
            pattern="[0-9]*"
            maxlength="16"
            minlength="16"
            required
            placeholder="(16-digit number)"
            [(ngModel)]="creditcard"
            #cardField="ngModel"
            disabled={{!cartProductList.length}}
          />
          <div class="text-danger" *ngIf="cardField.errors && cardField.dirty">
            Please provide a valid card number
          </div>
        </div>
        <p class="text-secondary small">
          We'll never share your payment details with anyone else.
        </p>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid || !cartProductList.length">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
